<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PracticeSwiftProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCC940951EDE5DB8007FB62B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCC940A91EDE5DB9007FB62B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCC940B41EDE5DB9007FB62B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
